@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body{
    font-family: 'Open Sans', Tahoma, Arial;
}

#wrapper{
   
}
.nav-wrapper{
    position: absolute;
    left:0;
    width:100%;
    z-index: 999;
}

.section{
    padding: 30px 0;
}

.navbar{
    margin-top:20px;
}
footer{
    padding-bottom:20px;
}

@media(max-width:768px) {
   
}